.theme-light {
	--bg-primary: rgb(247, 247, 247);
	--bg-primary-second: #ffffff;
	--btn-color: rgb(230, 230, 230);
	--btn-color-active: var(--bg-primary); 
}
.theme-dark {
	--bg-primary: #2e3440;
	--bg-primary-second: #3b4252;
	--btn-color: #4c566a;
	--btn-color-active: var(--bg-primary); 
}

/* 样式覆盖 */
.workspace-leaf-content[data-type="yoran-sidebar-view"] .view-content {
	padding-bottom: 0 !important;
	background-color: var(--bg-primary);
}