.fileWrapper {
  overflow-x: auto;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: start;
  scrollbar-width: none;
}

.fileItem {
  display: flex;
  align-items: center;
  justify-content: start;
  position: relative;
  margin-right: 12px;
  padding: 8px;
  border-radius: 12px;
  cursor: pointer;
  background-color: var(--bg-primary);
}

.fileItemLogo {
  font-size: 36px;
  padding-right: 8px;
}

.fileItemContent {
  display: flex;
  flex-direction: column;
}

.filePath {
  max-width: 200px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.fileClose {
  display: none;
  position: absolute;
  cursor: pointer;
  padding: 2px;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  top: -6px;
  right: -6px;
  background-color: var(--background-modifier-border);
  color: var(--text-faint);
}

.fileItem:hover .fileClose {
  display: inline;
}

.fileItem:hover .fileClose:hover {
  color: var(--accent-strong);
}

.fileLine {
  height: 1px;
  width: 100%;
  margin: 2px 0;
  background-color: var(--background-modifier-border);
}